* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
  gap: 1rem;
  place-content: center;
}

input {
  padding: 0.25rem;
}

.display {
  font-family: cursive;
  display: block;
  font-size: 4rem;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
